@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OneNET 数据接收器</h1>
    <p class="lead">OneNET 数据推送接收器Demo.</p>
    <p><a href="http://open.iot.10086.cn" class="btn btn-primary btn-large" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    TODO
</div>